/* Additional styles for Employees component if needed */
/* Most styles are inherited from App.css */

.user_details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
}

.user_details .input_box {
    width: calc(100% / 2 - 20px);
    margin: 0 0 12px 0;
}

.input_box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.input_box label::after {
    content: " *";
    color: red;
}

.input_box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 15px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box input:focus,
.input_box input:valid {
    box-shadow: 0px 0px 0px 2px #AC8ECE;
}

.reg_btn {
    padding: 25px;
    margin: 15px 0;
}

.reg_btn input {
    height: 45px;
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(to right, #F37A65, #D64141);
    border-radius: 5px;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.reg_btn input:hover {
    background: linear-gradient(to right, #D64141, #F37A65);
}

@media screen and (max-width: 584px) {
    .user_details {
        max-height: 340px;
        overflow-y: scroll;
    }

    .user_details::-webkit-scrollbar {
        width: 0;
    }

    .user_details .input_box {
        width: 100%;
    }
}
